<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dynamic Div Generation</title>
        <style>
            .node {
                max-width: 100px;
            }
            svg {
                overflow: visible;
            }
            .text {
                font: 12px sans-serif;
                font-weight: 600;
            }
            .secondaryText {
                font: 10px sans-serif;
            }
            .link {
                fill: none;
                stroke: black;
                stroke-width: 2px;
            }
            .rect {
                stroke: black;
                stroke-width: 1px;
            }
            .nodeModule {
                fill: #90caf9;
            }
            .sourceFile {
                fill: whitesmoke;
            }
            .unknown {
                fill: #c0c0c0;
            }
        </style>
    </head>
    <body>
        <script>
            const imports = [
                {
                    id: "root",
                    uniqueId: "root",
                    import: "src/index.ts",
                    type: "Source file",
                    extension: "",
                    moduleName: "src/index.ts",
                    resolved: true,
                    level: 0,
                    imports: [
                        {
                            id: "src/traversal.ts",
                            uniqueId: "ec54bf73-a1c6-41a2-8ae3-9c5ec52d051a",
                            import: "./traversal",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\traversal.ts",
                            type: "Source file",
                            moduleName: "traversal",
                            resolved: true,
                            absolutePath: "src/traversal.ts",
                            imports: [
                                {
                                    id: "node_modules/typescript/lib/typescript.d.ts",
                                    uniqueId: "684a0839-4e77-46bd-942c-ae72be663033",
                                    import: "typescript",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                    type: "Node module",
                                    moduleName: "typescript",
                                    resolved: true,
                                    absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "fs",
                                    uniqueId: "5d81465e-3582-4fed-8f33-f8905d91737d",
                                    import: "fs",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "fs",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "a5d02a36-a0e5-4718-88a1-a580c0299aec",
                                    import: "./types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/helpers/importParser.ts",
                                    uniqueId: "76eb0d77-79e3-48cc-b504-ce0480ba59b8",
                                    import: "./helpers/importParser",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\helpers\\importParser.ts",
                                    type: "Source file",
                                    moduleName: "importParser",
                                    resolved: true,
                                    absolutePath: "src/helpers/importParser.ts",
                                    imports: [
                                        {
                                            id: "node_modules/typescript/lib/typescript.d.ts",
                                            uniqueId: "c54126a0-8e23-41df-9f06-9fd162b1d5c6",
                                            import: "typescript",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                            type: "Node module",
                                            moduleName: "typescript",
                                            resolved: true,
                                            absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "path",
                                            uniqueId: "f7685b71-05f8-49ec-b1b0-d55a6d32ea74",
                                            import: "path",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "path",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "fs",
                                            uniqueId: "83b3e6d3-b258-4078-b83c-ae52f0760a0d",
                                            import: "fs",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "fs",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "node_modules/@types/uuid/index.d.ts",
                                            uniqueId: "cac1b237-ed61-40fc-a154-b2d7cd847443",
                                            import: "uuid",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\node_modules\\@types\\uuid\\index.d.ts",
                                            type: "Node module",
                                            moduleName: "@types/uuid",
                                            resolved: true,
                                            absolutePath: "node_modules/@types/uuid/index.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "src/types.d.ts",
                                            uniqueId: "8a2780b6-68d9-4436-b3cf-b52d271960f9",
                                            import: "../types",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                            type: "Source file",
                                            moduleName: "types",
                                            resolved: true,
                                            absolutePath: "src/types.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                                {
                                    id: "src/helpers/commentParser.ts",
                                    uniqueId: "8cc050e3-f813-467f-88d6-d5eee623b3a8",
                                    import: "./helpers/commentParser",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\helpers\\commentParser.ts",
                                    type: "Source file",
                                    moduleName: "commentParser",
                                    resolved: true,
                                    absolutePath: "src/helpers/commentParser.ts",
                                    imports: [
                                        {
                                            id: "node_modules/typescript/lib/typescript.d.ts",
                                            uniqueId: "be2102f2-b753-4799-9e40-d1c697f918a2",
                                            import: "typescript",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                            type: "Node module",
                                            moduleName: "typescript",
                                            resolved: true,
                                            absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/output/console.ts",
                            uniqueId: "3c1850dc-fb1d-4475-8c82-d2fe735dd21d",
                            import: "./output/console",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\output\\console.ts",
                            type: "Source file",
                            moduleName: "console",
                            resolved: true,
                            absolutePath: "src/output/console.ts",
                            imports: [
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "d7db74d6-a24d-49bc-9de9-818b39bbd4cf",
                                    import: "../types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/commandLine.ts",
                            uniqueId: "195b347b-a6a4-447b-ac14-d414c450218d",
                            import: "./commandLine",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\commandLine.ts",
                            type: "Source file",
                            moduleName: "commandLine",
                            resolved: true,
                            absolutePath: "src/commandLine.ts",
                            imports: [
                                {
                                    id: "node_modules/commander/typings/index.d.ts",
                                    uniqueId: "309dcc28-8c23-4a46-9f33-fca836479ab2",
                                    import: "commander",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\commander\\typings\\index.d.ts",
                                    type: "Node module",
                                    moduleName: "commander",
                                    resolved: true,
                                    absolutePath: "node_modules/commander/typings/index.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "c9951fff-43ce-4171-b922-0bd56f0afd43",
                                    import: "./types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/tsConfig.ts",
                                    uniqueId: "804a3557-92ae-4c00-bb17-80e3343313be",
                                    import: "./tsConfig",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\tsConfig.ts",
                                    type: "Source file",
                                    moduleName: "tsConfig",
                                    resolved: true,
                                    absolutePath: "src/tsConfig.ts",
                                    imports: [
                                        {
                                            id: "node_modules/typescript/lib/typescript.d.ts",
                                            uniqueId: "7911025a-0b66-4190-be8b-cfb062ae42dc",
                                            import: "typescript",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                            type: "Node module",
                                            moduleName: "typescript",
                                            resolved: true,
                                            absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "fs",
                                            uniqueId: "e3c9f5c4-88c6-420d-a976-d1ee9e0a8ff7",
                                            import: "fs",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "fs",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "path",
                                            uniqueId: "d6b782bd-340e-468f-bd16-9b351094f894",
                                            import: "path",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "path",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                                {
                                    id: "src/output/log.ts",
                                    uniqueId: "895a6f13-15ef-4be9-80de-d45c51669d17",
                                    import: "./output/log",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\output\\log.ts",
                                    type: "Source file",
                                    moduleName: "log",
                                    resolved: true,
                                    absolutePath: "src/output/log.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/configFileParser.ts",
                                    uniqueId: "ef5fd4ef-a4bf-4821-a7d5-9a93a3313c4a",
                                    import: "./configFileParser",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\configFileParser.ts",
                                    type: "Source file",
                                    moduleName: "configFileParser",
                                    resolved: true,
                                    absolutePath: "src/configFileParser.ts",
                                    imports: [
                                        {
                                            id: "path",
                                            uniqueId: "e3b02d09-dd74-44aa-bd2d-3a1eecf6f55b",
                                            import: "path",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "path",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "src/types.d.ts",
                                            uniqueId: "6f9ebf57-5dfa-4c60-9333-6df7e27190c8",
                                            import: "./types",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                            type: "Source file",
                                            moduleName: "types",
                                            resolved: true,
                                            absolutePath: "src/types.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                                {
                                    id: "src/helpers/optionMerge.ts",
                                    uniqueId: "8e7ed03a-1cfb-4c9d-9897-554ca5ec7213",
                                    import: "./helpers/optionMerge",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\helpers\\optionMerge.ts",
                                    type: "Source file",
                                    moduleName: "optionMerge",
                                    resolved: true,
                                    absolutePath: "src/helpers/optionMerge.ts",
                                    imports: [
                                        {
                                            id: "src/plugins.ts",
                                            uniqueId: "dfcbd51f-52bb-4abe-9ddc-a78235634214",
                                            import: "../plugins",
                                            extension: ".ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\plugins.ts",
                                            type: "Source file",
                                            moduleName: "plugins",
                                            resolved: true,
                                            absolutePath: "src/plugins.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "src/types.d.ts",
                                            uniqueId: "f2530e8f-22f5-46e6-871f-f1924df492d5",
                                            import: "../types",
                                            extension: ".d.ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                            type: "Source file",
                                            moduleName: "types",
                                            resolved: true,
                                            absolutePath: "src/types.d.ts",
                                            imports: [],
                                            level: 3,
                                        },
                                        {
                                            id: "fs",
                                            uniqueId: "4e402c2a-ada3-4e7c-bbc9-8c0567214856",
                                            import: "fs",
                                            extension: "",
                                            description: "",
                                            type: "Unknown",
                                            moduleName: "fs",
                                            resolved: false,
                                            imports: [],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/output/html.ts",
                            uniqueId: "a888c2bb-8b71-482a-9822-75ebffc9cbd9",
                            import: "./output/html",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\output\\html.ts",
                            type: "Source file",
                            moduleName: "html",
                            resolved: true,
                            absolutePath: "src/output/html.ts",
                            imports: [
                                {
                                    id: "fs",
                                    uniqueId: "f93b7e4b-70b9-44ab-a49d-b637a4415222",
                                    import: "fs",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "fs",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "31c8ed0f-116c-4145-91ce-e9ca5e431088",
                                    import: "../types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "path",
                                    uniqueId: "faefc8e2-0f34-42d1-8c36-752a4cc22017",
                                    import: "path",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "path",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/output/json.ts",
                            uniqueId: "32742d49-8ddb-42f1-aefe-7aba42213e56",
                            import: "./output/json",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\output\\json.ts",
                            type: "Source file",
                            moduleName: "json",
                            resolved: true,
                            absolutePath: "src/output/json.ts",
                            imports: [
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "b9785d75-c8e2-45bc-b5f4-c98b8d3867b7",
                                    import: "../types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "fs",
                                    uniqueId: "9ee53527-724a-4608-a6a7-bf728d50c6bc",
                                    import: "fs",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "fs",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/output/png.ts",
                            uniqueId: "1c907e0e-f94c-42c5-b002-401b612fe973",
                            import: "./output/png",
                            extension: ".ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\output\\png.ts",
                            type: "Source file",
                            moduleName: "png",
                            resolved: true,
                            absolutePath: "src/output/png.ts",
                            imports: [
                                {
                                    id: "node_modules/node-html-to-image/dist/index.d.ts",
                                    uniqueId: "e074d459-d261-4f70-91bd-372fc0b8dea2",
                                    import: "node-html-to-image",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\node-html-to-image\\dist\\index.d.ts",
                                    type: "Node module",
                                    moduleName: "node-html-to-image",
                                    resolved: true,
                                    absolutePath: "node_modules/node-html-to-image/dist/index.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/types.d.ts",
                                    uniqueId: "83e7f189-b46d-47c4-8eab-39fa6bfc2f44",
                                    import: "../types",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                    type: "Source file",
                                    moduleName: "types",
                                    resolved: true,
                                    absolutePath: "src/types.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/output/html.ts",
                                    uniqueId: "688fcd09-8c14-40a1-b159-f668f482ac47",
                                    import: "./html",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\output\\html.ts",
                                    type: "Source file",
                                    moduleName: "html",
                                    resolved: true,
                                    absolutePath: "src/output/html.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "path",
                                    uniqueId: "067f5a57-f3cf-4cae-ade1-c3450d54c85f",
                                    import: "path",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "path",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "fs",
                                    uniqueId: "bb1b8c6d-61cd-4ecc-8222-78fd6c24b971",
                                    import: "fs",
                                    extension: "",
                                    description: "",
                                    type: "Unknown",
                                    moduleName: "fs",
                                    resolved: false,
                                    imports: [],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                        {
                            id: "src/types.d.ts",
                            uniqueId: "e54c1ade-fe36-4aa5-9a85-a4818f299184",
                            import: "./types",
                            extension: ".d.ts",
                            description: "",
                            fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                            type: "Source file",
                            moduleName: "types",
                            resolved: true,
                            absolutePath: "src/types.d.ts",
                            imports: [
                                {
                                    id: "node_modules/typescript/lib/typescript.d.ts",
                                    uniqueId: "449cb00c-f0b8-40a5-8e71-14db209f4b28",
                                    import: "typescript",
                                    extension: ".d.ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                    type: "Node module",
                                    moduleName: "typescript",
                                    resolved: true,
                                    absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                    imports: [],
                                    level: 2,
                                },
                                {
                                    id: "src/plugins.ts",
                                    uniqueId: "90c53e3f-936e-4afd-ad64-2709174d7ab3",
                                    import: "./plugins",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\plugins.ts",
                                    type: "Source file",
                                    moduleName: "plugins",
                                    resolved: true,
                                    absolutePath: "src/plugins.ts",
                                    imports: [
                                        {
                                            id: "src/plugins/debugPlugin.ts",
                                            uniqueId: "75fa57b1-b838-42fb-b5ec-4b08c93e82f4",
                                            import: "./plugins/debugPlugin",
                                            extension: ".ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\plugins\\debugPlugin.ts",
                                            type: "Source file",
                                            moduleName: "debugPlugin",
                                            resolved: true,
                                            absolutePath: "src/plugins/debugPlugin.ts",
                                            imports: [
                                                {
                                                    id: "node_modules/typescript/lib/typescript.d.ts",
                                                    uniqueId: "69e68101-32bb-4d2b-a1d4-2a627992892f",
                                                    import: "typescript",
                                                    extension: ".d.ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                                    type: "Node module",
                                                    moduleName: "typescript",
                                                    resolved: true,
                                                    absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                                {
                                                    id: "src/types.d.ts",
                                                    uniqueId: "8a2c195e-d045-457c-957b-5bb864769240",
                                                    import: "../types",
                                                    extension: ".d.ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                                    type: "Source file",
                                                    moduleName: "types",
                                                    resolved: true,
                                                    absolutePath: "src/types.d.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                                {
                                                    id: "src/helpers/importParser.ts",
                                                    uniqueId: "81f4bc74-cc12-40db-8e06-5b09ea1864df",
                                                    import: "../helpers/importParser",
                                                    extension: ".ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\src\\helpers\\importParser.ts",
                                                    type: "Source file",
                                                    moduleName: "importParser",
                                                    resolved: true,
                                                    absolutePath: "src/helpers/importParser.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                            ],
                                            level: 3,
                                        },
                                        {
                                            id: "src/plugins/docPlugin.ts",
                                            uniqueId: "81e5e224-9616-47a1-a77f-c2a30044e6fe",
                                            import: "./plugins/docPlugin",
                                            extension: ".ts",
                                            description: "",
                                            fullPath: "C:\\Source\\ts-insp\\src\\plugins\\docPlugin.ts",
                                            type: "Source file",
                                            moduleName: "docPlugin",
                                            resolved: true,
                                            absolutePath: "src/plugins/docPlugin.ts",
                                            imports: [
                                                {
                                                    id: "node_modules/typescript/lib/typescript.d.ts",
                                                    uniqueId: "9d7e76ed-8104-4a3c-8423-ad703eab695d",
                                                    import: "typescript",
                                                    extension: ".d.ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                                    type: "Node module",
                                                    moduleName: "typescript",
                                                    resolved: true,
                                                    absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                                {
                                                    id: "src/types.d.ts",
                                                    uniqueId: "5c31ad83-f49e-489a-ba60-599f4769b9f9",
                                                    import: "../types",
                                                    extension: ".d.ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                                    type: "Source file",
                                                    moduleName: "types",
                                                    resolved: true,
                                                    absolutePath: "src/types.d.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                                {
                                                    id: "src/helpers/commentParser.ts",
                                                    uniqueId: "b88e79d6-9ea6-44ed-9d1f-f4c478b23cbe",
                                                    import: "../helpers/commentParser",
                                                    extension: ".ts",
                                                    description: "",
                                                    fullPath: "C:\\Source\\ts-insp\\src\\helpers\\commentParser.ts",
                                                    type: "Source file",
                                                    moduleName: "commentParser",
                                                    resolved: true,
                                                    absolutePath: "src/helpers/commentParser.ts",
                                                    imports: [],
                                                    level: 4,
                                                },
                                            ],
                                            level: 3,
                                        },
                                    ],
                                    level: 2,
                                },
                                {
                                    id: "src/output/log.ts",
                                    uniqueId: "decd00a8-6796-444f-8862-b43916f503fc",
                                    import: "./output/log",
                                    extension: ".ts",
                                    description: "",
                                    fullPath: "C:\\Source\\ts-insp\\src\\output\\log.ts",
                                    type: "Source file",
                                    moduleName: "log",
                                    resolved: true,
                                    absolutePath: "src/output/log.ts",
                                    imports: [],
                                    level: 2,
                                },
                            ],
                            level: 1,
                        },
                    ],
                },
            ];
        </script>
        <script>
            const getTextSize = (text, className) => {
                const bbox = d3
                    .select("body")
                    .append("svg")
                    .append("text")
                    .attr("class", className)
                    .attr("x", -1000)
                    .attr("y", -1000)
                    .attr("dy", ".35em")
                    .text(text)
                    .node()
                    .getBBox();
                d3.select("svg > text").remove(); // Remove the temporary text element
                return bbox;
            };
            const getNodeBBox = (i) => {
                const sizePadding = { x: 15, y: 10 };
                // Get the bounding box of the text element
                var bbox1 = getTextSize(getName(i), "text");
                var bbox2 = getTextSize(getDescription(i) || "a", "secondaryText");
                return { width: Math.max(bbox1.width, bbox2.width) + sizePadding.x, height: bbox1.height + bbox2.height + sizePadding.y };
            };

            const getName = (i) => i.moduleName;
            const getDescription = (i) => i.absolutePath;
            const toDataSource = (inputImports) => {
                return inputImports.map((i) => ({
                    ...i,
                    bbox: getNodeBBox(i),
                    children: toDataSource(i.imports),
                    nodeName: getName(i),
                    nodeDescription: getDescription(i),
                }));
            };
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
            integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <svg width="100%" height="100%"></svg>
        <script>
            const diagramWidth = 960;
            const diagramHeight = 1500;
            const getRectClass = (type) => (type === "Node module" ? "nodeModule" : type === "Source file" ? "sourceFile" : "unknown");

            const margin = { top: 40, right: 90, bottom: 50, left: 90 };
            const width = diagramWidth - margin.left - margin.right;
            const height = diagramHeight - margin.top - margin.bottom;

            const svg = d3
                .select("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            const tree = d3
                .tree()
                .size([height, width])
                .separation(function (a, b) {
                    console.log(a, b);
                    return a.parent === b.parent ? 3 : 4;
                });

            const root = d3.hierarchy(toDataSource(imports)[0]);
            tree(root);

            var link = svg
                .selectAll(".link")
                .data(root.links())
                .enter()
                .append("path")
                .attr("class", "link")
                .attr("d", function (d) {
                    const start = { x: d.source.y + d.source.data.bbox.width, y: d.source.x };
                    const firstHalf = (d.target.y - start.x) / 2 + start.x;
                    return `M${start.x},${start.y}` + `H${firstHalf}` + `V${d.target.x}` + `H${d.target.y}`;
                });

            var node = svg
                .selectAll(".node")
                .data(root.descendants())
                .enter()
                .append("g")
                .attr("class", "node")
                .attr("transform", (d) => {
                    return "translate(" + d.y + "," + d.x + ")";
                });

            node.append("rect")
                .attr("x", 0)
                .attr("y", (d) => d.data.bbox.height / -2)
                .attr("width", (d) => d.data.bbox.width)
                .attr("height", (d) => d.data.bbox.height)
                .attr("rx", 5) // Rounded corners
                .attr("class", (d) => {
                    return "rect " + getRectClass(d.data.type);
                });

            node.append("text")
                .attr("y", (d) => (d.data.nodeDescription ? -2 : 5))
                .attr("x", 7)
                .attr("class", "text")
                .style("text-anchor", function (d) {
                    return "start";
                })
                .text(function (d) {
                    return d.data.nodeName;
                });

            node.append("text")
                .attr("y", 12)
                .attr("x", 7)
                .attr("width", 50)
                .attr("class", "secondaryText")
                .style("text-anchor", function (d) {
                    return "start";
                })
                .text(function (d) {
                    return d.data.nodeDescription;
                });
        </script>
    </body>
</html>
