<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dependency Tree</title>
        <style>
            <!-- CUSTOM-STYLES -->
                
            body {
                width: 1500px;
                height: 100%;
            }
            svg {
                overflow: visible;
            }
            .text {
                font: 12px sans-serif;
                font-weight: 600;
            }
            .secondaryText {
                font: 10px sans-serif;
            }
            .link {
                fill: none;
                stroke: black;
                stroke-width: 2px;
            }
            .subtleLink {
                fill: none;
                /*stroke: gray;*/
                stroke-width: 1px;
                stroke-dasharray: 5, 5;
                stroke-dashoffset: 0;
            }
            .rect {
                stroke: black;
                stroke-width: 1px;
            }
            .nodeModule {
                fill: #90caf9;
            }
            .sourceFile {
                fill: whitesmoke;
            }
            .unknown {
                fill: #c0c0c0;
            }
        </style>
    </head>
    <body>
        <!-- Slug parsing is here -->
        <script>
            const slugs = `<!-- SLUGS -->`;
            const getSlug = (key, defaultValue) => {
                try {
                    const slugJson = JSON.parse(slugs);
                    return slugJson[key] || defaultValue;
                } catch {}
                return defaultValue;
            };
        </script>
        <!-- Traversed imports are here-->
        <script>
            const imports = <!-- IMPORTS -->
        </script>
        <!-- Graph calculations -->
        <script>
            const constructGraph = getSlug("graph", false);

            const getModuleCounts = (inputImports) => {
                let result = {};
                inputImports.forEach((i) => {
                    result[i.id] = result[i.id] ? result[i.id] + 1 : 1;
                    const subresult = getModuleCounts(i.imports);
                    Object.keys(subresult).forEach((im) => {
                        result[im] = result[im] ? result[im] + subresult[im] : subresult[im];
                    });
                });
                return result;
            };
            const moduleCounts = getModuleCounts(imports);

            const findTargetModules = (inputImports) => {
                let result = inputImports
                    .filter((i) => !i.alreadyTraversed && i.type === "Source file" && moduleCounts[i.id] > 1)
                    .map((i) => ({ ...i, imports: [] }));
                inputImports.forEach((i) => {
                    result = [...result, ...findTargetModules(i.imports)];
                });
                return result;
            };
            const graphTargets = constructGraph ? findTargetModules(imports) : [];

            console.log("Module counts:", moduleCounts);
            console.log("Graph link targets:", graphTargets);
        </script>
        <!-- Converting to d3 data model is here -->
        <script>
            const maxRectWidth = getSlug("maxRectWidth", 180);
            const getTextSize = (text, className) => {
                const bbox = d3
                    .select("body")
                    .select("svg")
                    .append("text")
                    .attr("class", className)
                    .attr("x", -1000)
                    .attr("y", -1000)
                    .attr("dy", ".35em")
                    .text(text)
                    .node()
                    .getBBox();
                d3.select("svg > text").remove(); // Remove the temporary text element
                return bbox;
            };
            const getNodeBBox = (i) => {
                const sizePadding = { x: 15, y: 10 };
                // Get the bounding box of the text element
                var bbox1 = getTextSize(getName(i), "text");
                var bbox2 = getTextSize(getDescription(i) || "a", "secondaryText");
                return {
                    width: Math.min(maxRectWidth, Math.max(bbox1.width, bbox2.width)) + sizePadding.x,
                    height: bbox1.height + bbox2.height + sizePadding.y,
                };
            };
            const getName = (i) => i.moduleName;
            const getDescription = (i) => {
                if (i.absolutePath && i.type === "Source file") {
                    const splitted = i.absolutePath.split("/");
                    while (splitted.length) {
                        const textWidth = getTextSize(splitted.join("/"), "secondaryText").width;
                        if (textWidth <= maxRectWidth) {
                            return splitted.join("/");
                        }
                        splitted.splice(0, 1);
                    }
                }
                return "";
            };

            const toDataSource = (inputImports) => {
                return inputImports
                    .filter((i) => {
                        return !i.alreadyTraversed || !graphTargets.some((gt) => gt.id === i.id);
                    })
                    .map((i) => ({
                        ...i,
                        bbox: getNodeBBox(i),
                        children: toDataSource(i.imports),
                        nodeName: getName(i),
                        nodeDescription: getDescription(i),
                        isTarget: graphTargets.some((gt) => gt.id === i.id),
                    }));
            };
        </script>
        <!-- d3 import is here -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"
            integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <svg width="100%" height="100%"></svg>
        <!-- Helpers for graph link calculation -->
        <script>
            const graphLinkColors = [
                // Darker shades
                "#990000",
                "#000099",
                "#009900",
                "#111111",
                "#999900",
                // Lighter shades
                "#FF7F7F",
                "#7F7FFF",
                "#7FFF7F",
                "#555555",
                "#FFFF7F",
                // Primaries
                "#FF0000",
                "#0000FF",
                "#00FF00",
                "#000000",
                "#FFFF00",
            ];

            const findNode = (node, uniqueId) => {
                if (node.data.uniqueId === uniqueId) {
                    return node;
                }
                for (childIndex in node.children) {
                    var result = findNode(node.children[childIndex], uniqueId);
                    if (result) {
                        return result;
                    }
                }
            };
            const findLinks = (node, srcId, targetNode, color) => {
                let result = [];
                const isSourceNode = (node.data.imports || []).some((n) => {
                    return n.id === srcId && n.uniqueId !== targetNode.data.uniqueId;
                });

                if (isSourceNode) {
                    result = [{ curve: true, color: color, source: node, target: targetNode }];
                }
                (node.children || []).forEach((childNode) => {
                    result = [...result, ...findLinks(childNode, srcId, targetNode, color)];
                });
                return result;
            };
        </script>
        <!-- Constructing the d3 tree is here -->
        <script>
            const diagramWidth = getSlug("diagramWidth", 1500);
            const diagramHeight = getSlug("diagramHeight", 1500);
            const getRectClass = (type) => (type === "Node module" ? "nodeModule" : type === "Source file" ? "sourceFile" : "unknown");

            const margin = { top: 40, right: 90, bottom: 50, left: 90 };
            const width = diagramWidth - margin.left - margin.right;
            const height = diagramHeight - margin.top - margin.bottom;

            const svg = d3
                .select("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            const tree = d3
                .tree()
                .size([height, width])
                .separation(function (a, b) {
                    return a.parent === b.parent ? 3 : 4;
                });

            const root = d3.hierarchy(toDataSource(imports)[0]);
            tree(root);

            var graphLinks = [];
            graphTargets.forEach((targetModule, index) => {
                const color = graphLinkColors[index % graphLinkColors.length];
                graphLinks = [...graphLinks, ...findLinks(root, targetModule.id, findNode(root, targetModule.uniqueId), color)];
            });

            var link = svg
                .selectAll(".link")
                .data([...root.links(), ...graphLinks])
                .enter()
                .append("path")
                .attr("class", (d) => (d.curve ? "subtleLink" : "link"))
                .attr("stroke", (d) => (d.color ? d.color : undefined))
                .attr("d", function (d) {
                    if (!d.curve) {
                        const start = { x: d.source.y + d.source.data.bbox.width, y: d.source.x };
                        //const firstHalf = (d.target.y - start.x) / 2 + start.x;
                        const firstHalf = d.target.y - 10;
                        return `M${start.x},${start.y}` + `H${firstHalf}` + `V${d.target.x}` + `H${d.target.y}`;
                    } else {
                        const s = `${d.source.y} ${d.source.x}`;
                        const c1 = `0 ${d.source.x}`;
                        const c2 = `0 ${d.target.x}`;
                        const e = `${d.target.y} ${d.target.x}`;
                        const foo = `M ${s} C ${c1}, ${c2} ${e}`;
                        return foo;
                    }
                });

            var node = svg
                .selectAll(".node")
                .data(root.descendants())
                .enter()
                .append("g")
                .attr("class", "node")
                .attr("transform", (d) => {
                    return "translate(" + d.y + "," + d.x + ")";
                });

            node.append("rect")
                .attr("x", 0)
                .attr("y", (d) => d.data.bbox.height / -2)
                .attr("width", (d) => d.data.bbox.width)
                .attr("height", (d) => d.data.bbox.height)
                .attr("rx", 5) // Rounded corners
                .attr("class", (d) => {
                    return "rect " + getRectClass(d.data.type);
                });

            node.append("text")
                .attr("y", (d) => (d.data.nodeDescription ? -2 : 3))
                .attr("x", 7)
                .attr("class", "text")
                .style("text-anchor", function (d) {
                    return "start";
                })
                .text(function (d) {
                    return d.data.nodeName;
                });

            node.append("text")
                .attr("y", 12)
                .attr("x", 7)
                .attr("class", "secondaryText")
                .style("text-anchor", function (d) {
                    return "start";
                })
                .text(function (d) {
                    return d.data.nodeDescription;
                });

            // Draw arrowhead to target nodes if the node is a target
            node.filter((d) => d.data.isTarget)
                .append("circle")
                .attr("r", 5)
                .attr("fill", (d) => {
                    const targetIndex = graphTargets.findIndex((gt) => gt.id === d.data.id);
                    return graphLinkColors[targetIndex % graphLinkColors.length];
                });
        </script>
    </body>
</html>
