<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dynamic Div Generation</title>
        <style>
            body {
                width: 2400px;
                height: 2400px;
            }
            <!-- CUSTOM-STYLES -->
        </style>
    </head>
    <body>
        <script>
            const imports = <!-- IMPORTS -->
        </script>
        <script>
            const primaryFont = "bold 9pt helvetica, bold arial, sans-serif";
            const secondaryFont = "8pt helvetica, arial, sans-serif";
            const fillBrush = (type) => (type === "Node module" ? "#90CAF9" : type === "Source file" ? "whitesmoke" : "#c0c0c0");
            const getKey = (input) => input.id;
            const toDataSource = (inputImports, parent) => {
                let results = [];
                inputImports?.forEach((i) => {
                    const key = getKey(i);
                    results.push({
                        parent: parent,
                        key,
                        name: i.moduleName,
                        path: i.absolutePath || "",
                        type: i.type,
                        href: "https://www.google.com",
                    });
                    results = [...results, ...toDataSource(i.imports, key)];
                });
                return results;
            };
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/3.0.0/go.js"></script>
        <div id="myDiagramDiv" style="width: 100%; height: 100%; background-color: #dae4e4"></div>
        <script>
            const diagram = new go.Diagram("myDiagramDiv", {});
            diagram.layout = new go.TreeLayout({});
            diagram.linkTemplate = new go.Link({ routing: go.Link.Orthogonal, corner: 5 }).add(
                new go.Shape({ strokeWidth: 3, stroke: "#555" })
            );
            diagram.nodeTemplate = new go.Node("Auto", {})
                .add(
                    new go.Shape("Rectangle", { fill: "white", border: { stroke: "black", strokeWidth: 2 } }).bind(
                        "fill",
                        "type",
                        fillBrush
                    )
                )
                .add(
                    new go.Panel("Vertical", { margin: 8 })
                        .add(new go.TextBlock("Undefined", { font: primaryFont }).bind("text", "name"))
                        .add(new go.TextBlock(undefined, { font: secondaryFont }).bind("text", "path"))
                        .add(new go.TextBlock("Undefined", { font: secondaryFont }).bind("text", "type"))
                );

            diagram.model = new go.TreeModel(toDataSource(imports));
            diagram.zoomToFit();
        </script>
    </body>
</html>
