<!DOCTYPE html>
<html>
    <head>
        <title>Cytoscape.js Graph Visualization with Rectangular Nodes</title>
        <script src="https://cdn.jsdelivr.net/npm/cytoscape@3.18.2/dist/cytoscape.min.js"></script>
        <style>
            #diagram {
                height: 1500px;
                width: 100%;
                display: block;
                border: 1px solid lightslategray;
            }
        </style>
    </head>
    <script>
        const imports = [
            {
                id: "root",
                uniqueId: "root",
                import: "src/index.ts",
                type: "Source file",
                extension: "",
                moduleName: "src/index.ts",
                resolved: true,
                level: 0,
                imports: [
                    {
                        id: "src/traversal.ts",
                        uniqueId: "df3eaaec-bfb6-4d8f-9d16-b884af22e3aa",
                        import: "./traversal",
                        extension: ".ts",
                        description: "",
                        fullPath: "C:\\Source\\ts-insp\\src\\traversal.ts",
                        type: "Source file",
                        moduleName: "traversal",
                        resolved: true,
                        absolutePath: "src/traversal.ts",
                        imports: [
                            {
                                id: "node_modules/typescript/lib/typescript.d.ts",
                                uniqueId: "908eaa3e-6e1e-4de1-9c63-7c38b2c1f6a9",
                                import: "typescript",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                type: "Node module",
                                moduleName: "typescript",
                                resolved: true,
                                absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "fs",
                                uniqueId: "4cbd5e31-db53-4107-bfe8-4e3f929129ff",
                                import: "fs",
                                extension: "",
                                description: "",
                                type: "Unknown",
                                moduleName: "fs",
                                resolved: false,
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "src/types.d.ts",
                                uniqueId: "38b9e76a-8497-49ea-b2b6-198e2bbdca13",
                                import: "./types",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                type: "Source file",
                                moduleName: "types",
                                resolved: true,
                                absolutePath: "src/types.d.ts",
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "src/helpers/importParser.ts",
                                uniqueId: "8cfa06ff-4f76-43d9-a152-0aba7a5540db",
                                import: "./helpers/importParser",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\helpers\\importParser.ts",
                                type: "Source file",
                                moduleName: "importParser",
                                resolved: true,
                                absolutePath: "src/helpers/importParser.ts",
                                imports: [
                                    {
                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                        uniqueId: "dc32f119-6763-4bfe-9427-34ffd51c3b2f",
                                        import: "typescript",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                        type: "Node module",
                                        moduleName: "typescript",
                                        resolved: true,
                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "path",
                                        uniqueId: "fd7bf27f-74ee-4e59-905e-a8db7721a701",
                                        import: "path",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "path",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "e9d132b9-82c6-48e8-ae1e-54c930b9f4ff",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "node_modules/@types/uuid/index.d.ts",
                                        uniqueId: "1d0b5567-33b3-4e3f-bae3-61083ad8ccf0",
                                        import: "uuid",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\@types\\uuid\\index.d.ts",
                                        type: "Node module",
                                        moduleName: "@types/uuid",
                                        resolved: true,
                                        absolutePath: "node_modules/@types/uuid/index.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "1097a2b7-fc9b-4a5f-8f62-276b0b82af8a",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/helpers/commentParser.ts",
                                uniqueId: "5a3060bd-4be0-4a9f-8019-f9b01a954422",
                                import: "./helpers/commentParser",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\helpers\\commentParser.ts",
                                type: "Source file",
                                moduleName: "commentParser",
                                resolved: true,
                                absolutePath: "src/helpers/commentParser.ts",
                                imports: [
                                    {
                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                        uniqueId: "b39d35de-2f9f-49ad-b1f8-251b7f6a4d07",
                                        import: "typescript",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                        type: "Node module",
                                        moduleName: "typescript",
                                        resolved: true,
                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                        ],
                        level: 1,
                    },
                    {
                        id: "src/commandLine.ts",
                        uniqueId: "0836c105-933c-4848-a753-75044630e9f9",
                        import: "./commandLine",
                        extension: ".ts",
                        description: "",
                        fullPath: "C:\\Source\\ts-insp\\src\\commandLine.ts",
                        type: "Source file",
                        moduleName: "commandLine",
                        resolved: true,
                        absolutePath: "src/commandLine.ts",
                        imports: [
                            {
                                id: "node_modules/commander/typings/index.d.ts",
                                uniqueId: "078a7091-ad0a-4a06-a674-c7069b2ef616",
                                import: "commander",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\node_modules\\commander\\typings\\index.d.ts",
                                type: "Node module",
                                moduleName: "commander",
                                resolved: true,
                                absolutePath: "node_modules/commander/typings/index.d.ts",
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "src/types.d.ts",
                                uniqueId: "8f8e5658-1af3-488b-ace2-0eb1c9bfa4b8",
                                import: "./types",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                type: "Source file",
                                moduleName: "types",
                                resolved: true,
                                absolutePath: "src/types.d.ts",
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "src/tsConfig.ts",
                                uniqueId: "31929c82-54c3-44f1-9ef0-0c9a1f5263c9",
                                import: "./tsConfig",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\tsConfig.ts",
                                type: "Source file",
                                moduleName: "tsConfig",
                                resolved: true,
                                absolutePath: "src/tsConfig.ts",
                                imports: [
                                    {
                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                        uniqueId: "dbbfdc3f-9c75-4574-b02d-5387530c1fa4",
                                        import: "typescript",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                        type: "Node module",
                                        moduleName: "typescript",
                                        resolved: true,
                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "0a9f7b58-a2b2-4a2b-ab30-8c3b4f9eeac4",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "path",
                                        uniqueId: "3985d5e7-c776-4ce6-a8c9-cd248745448d",
                                        import: "path",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "path",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/output/log.ts",
                                uniqueId: "7a2dcec5-0415-4f3c-a0ed-ae0bee9c596a",
                                import: "./output/log",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\output\\log.ts",
                                type: "Source file",
                                moduleName: "log",
                                resolved: true,
                                absolutePath: "src/output/log.ts",
                                imports: [],
                                level: 2,
                            },
                            {
                                id: "src/configFileParser.ts",
                                uniqueId: "7a3d3071-aa2e-4993-b252-639db862adb3",
                                import: "./configFileParser",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\configFileParser.ts",
                                type: "Source file",
                                moduleName: "configFileParser",
                                resolved: true,
                                absolutePath: "src/configFileParser.ts",
                                imports: [
                                    {
                                        id: "path",
                                        uniqueId: "b30e0090-22a7-4828-9a27-9f0bb5856f91",
                                        import: "path",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "path",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "e93c8bdd-0885-4c53-a40d-e2d855463ac3",
                                        import: "./types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                        uniqueId: "e4d01d71-55b2-466b-94d6-8df5ee70958b",
                                        import: "typescript",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                        type: "Node module",
                                        moduleName: "typescript",
                                        resolved: true,
                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "a522f812-b8af-4ec1-bee6-1ddc753a5b26",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/helpers/optionMerge.ts",
                                uniqueId: "36327b80-3a2e-4fc9-9450-668dac5610f2",
                                import: "./helpers/optionMerge",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\helpers\\optionMerge.ts",
                                type: "Source file",
                                moduleName: "optionMerge",
                                resolved: true,
                                absolutePath: "src/helpers/optionMerge.ts",
                                imports: [
                                    {
                                        id: "src/plugins.ts",
                                        uniqueId: "e8c6a6ee-9af9-4ea1-a077-5fe2ce399acd",
                                        import: "../plugins",
                                        extension: ".ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\plugins.ts",
                                        type: "Source file",
                                        moduleName: "plugins",
                                        resolved: true,
                                        absolutePath: "src/plugins.ts",
                                        imports: [
                                            {
                                                id: "src/plugins/debugPlugin.ts",
                                                uniqueId: "ebcee043-0b4f-4468-9262-6189693d7bb4",
                                                import: "./plugins/debugPlugin",
                                                extension: ".ts",
                                                description: "",
                                                fullPath: "C:\\Source\\ts-insp\\src\\plugins\\debugPlugin.ts",
                                                type: "Source file",
                                                moduleName: "debugPlugin",
                                                resolved: true,
                                                absolutePath: "src/plugins/debugPlugin.ts",
                                                imports: [
                                                    {
                                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                                        uniqueId: "7548ddac-f5df-4ab9-a838-1946d4781539",
                                                        import: "typescript",
                                                        extension: ".d.ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                                        type: "Node module",
                                                        moduleName: "typescript",
                                                        resolved: true,
                                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                    {
                                                        id: "src/types.d.ts",
                                                        uniqueId: "7a7831b2-9bc3-442e-891e-28c32adefc26",
                                                        import: "../types",
                                                        extension: ".d.ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                                        type: "Source file",
                                                        moduleName: "types",
                                                        resolved: true,
                                                        absolutePath: "src/types.d.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                    {
                                                        id: "src/helpers/importParser.ts",
                                                        uniqueId: "aaee6ac2-f73a-4f47-816a-ad19cc38cd19",
                                                        import: "../helpers/importParser",
                                                        extension: ".ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\src\\helpers\\importParser.ts",
                                                        type: "Source file",
                                                        moduleName: "importParser",
                                                        resolved: true,
                                                        absolutePath: "src/helpers/importParser.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                ],
                                                level: 4,
                                            },
                                            {
                                                id: "src/plugins/docPlugin.ts",
                                                uniqueId: "f8a40f77-d744-4bdb-a131-57b619513ec9",
                                                import: "./plugins/docPlugin",
                                                extension: ".ts",
                                                description: "",
                                                fullPath: "C:\\Source\\ts-insp\\src\\plugins\\docPlugin.ts",
                                                type: "Source file",
                                                moduleName: "docPlugin",
                                                resolved: true,
                                                absolutePath: "src/plugins/docPlugin.ts",
                                                imports: [
                                                    {
                                                        id: "node_modules/typescript/lib/typescript.d.ts",
                                                        uniqueId: "0e0c45ac-bd79-44b7-ba1b-f1bd26555e09",
                                                        import: "typescript",
                                                        extension: ".d.ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                                        type: "Node module",
                                                        moduleName: "typescript",
                                                        resolved: true,
                                                        absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                    {
                                                        id: "src/types.d.ts",
                                                        uniqueId: "63a7a7ce-6304-47ca-b711-24e49c4bdf69",
                                                        import: "../types",
                                                        extension: ".d.ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                                        type: "Source file",
                                                        moduleName: "types",
                                                        resolved: true,
                                                        absolutePath: "src/types.d.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                    {
                                                        id: "src/helpers/commentParser.ts",
                                                        uniqueId: "3c216b71-e72d-47ed-b245-b3a5359a17d7",
                                                        import: "../helpers/commentParser",
                                                        extension: ".ts",
                                                        description: "",
                                                        fullPath: "C:\\Source\\ts-insp\\src\\helpers\\commentParser.ts",
                                                        type: "Source file",
                                                        moduleName: "commentParser",
                                                        resolved: true,
                                                        absolutePath: "src/helpers/commentParser.ts",
                                                        imports: [],
                                                        level: 5,
                                                    },
                                                ],
                                                level: 4,
                                            },
                                        ],
                                        level: 3,
                                    },
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "94706dee-da87-47f0-af75-1b7538e5b03c",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "58c5638a-c0e1-443f-af98-da1727b5e6d5",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                        ],
                        level: 1,
                    },
                    {
                        id: "src/types.d.ts",
                        uniqueId: "1cdd2c97-38c9-4db3-bf42-142f1b840bb3",
                        import: "./types",
                        extension: ".d.ts",
                        description: "",
                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                        type: "Source file",
                        moduleName: "types",
                        resolved: true,
                        absolutePath: "src/types.d.ts",
                        imports: [
                            {
                                id: "node_modules/typescript/lib/typescript.d.ts",
                                uniqueId: "ce6b13b9-5793-468a-a918-a9184a6c5b94",
                                import: "typescript",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\node_modules\\typescript\\lib\\typescript.d.ts",
                                type: "Node module",
                                moduleName: "typescript",
                                resolved: true,
                                absolutePath: "node_modules/typescript/lib/typescript.d.ts",
                                imports: [],
                                level: 2,
                            },
                        ],
                        level: 1,
                    },
                    {
                        id: "src/outputFormats.ts",
                        uniqueId: "46219d31-7ec2-4806-9e79-440949ccbf74",
                        import: "./outputFormats",
                        extension: ".ts",
                        description: "",
                        fullPath: "C:\\Source\\ts-insp\\src\\outputFormats.ts",
                        type: "Source file",
                        moduleName: "outputFormats",
                        resolved: true,
                        absolutePath: "src/outputFormats.ts",
                        imports: [
                            {
                                id: "src/output/console.ts",
                                uniqueId: "de8b01db-1385-43ea-9e59-e76da20e1fca",
                                import: "./output/console",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\output\\console.ts",
                                type: "Source file",
                                moduleName: "console",
                                resolved: true,
                                absolutePath: "src/output/console.ts",
                                imports: [
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "88be890f-c3c1-4b47-9c03-a8ad1e8938af",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/output/html.ts",
                                uniqueId: "7bb504e9-76d8-4b14-aec8-77e8ee6665c0",
                                import: "./output/html",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\output\\html.ts",
                                type: "Source file",
                                moduleName: "html",
                                resolved: true,
                                absolutePath: "src/output/html.ts",
                                imports: [
                                    {
                                        id: "fs",
                                        uniqueId: "316db7dc-f90f-4baf-91e2-453a85d960ed",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "50315978-7196-4424-a36e-74109414fac6",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "path",
                                        uniqueId: "31ca6178-0d93-40ba-96a0-1c2c4deed446",
                                        import: "path",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "path",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/output/json.ts",
                                uniqueId: "97ac49e2-180b-42d6-82fe-76758a429ab7",
                                import: "./output/json",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\output\\json.ts",
                                type: "Source file",
                                moduleName: "json",
                                resolved: true,
                                absolutePath: "src/output/json.ts",
                                imports: [
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "82c79b7b-edac-4e2f-b29e-e0f8a5e04092",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "6b8abf79-d78f-4a83-80c3-1dffe60f6f07",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/output/png.ts",
                                uniqueId: "a10a92e2-cf30-4057-a82d-5d9cab3ae5c8",
                                import: "./output/png",
                                extension: ".ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\output\\png.ts",
                                type: "Source file",
                                moduleName: "png",
                                resolved: true,
                                absolutePath: "src/output/png.ts",
                                imports: [
                                    {
                                        id: "node_modules/node-html-to-image/dist/index.d.ts",
                                        uniqueId: "ba45fd30-97db-4267-ba09-93850fec6193",
                                        import: "node-html-to-image",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\node_modules\\node-html-to-image\\dist\\index.d.ts",
                                        type: "Node module",
                                        moduleName: "node-html-to-image",
                                        resolved: true,
                                        absolutePath: "node_modules/node-html-to-image/dist/index.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "src/types.d.ts",
                                        uniqueId: "65b3b77c-6943-4c49-9224-7d51fb5d8479",
                                        import: "../types",
                                        extension: ".d.ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                        type: "Source file",
                                        moduleName: "types",
                                        resolved: true,
                                        absolutePath: "src/types.d.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "src/output/html.ts",
                                        uniqueId: "77dd57ae-73c8-4bfe-8c88-93b28cf56c4f",
                                        import: "./html",
                                        extension: ".ts",
                                        description: "",
                                        fullPath: "C:\\Source\\ts-insp\\src\\output\\html.ts",
                                        type: "Source file",
                                        moduleName: "html",
                                        resolved: true,
                                        absolutePath: "src/output/html.ts",
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "path",
                                        uniqueId: "25ac46f9-6216-4994-a9ff-325d98b97207",
                                        import: "path",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "path",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                    {
                                        id: "fs",
                                        uniqueId: "95ae2eb0-943c-44fb-8e39-c0c8b559069d",
                                        import: "fs",
                                        extension: "",
                                        description: "",
                                        type: "Unknown",
                                        moduleName: "fs",
                                        resolved: false,
                                        imports: [],
                                        level: 3,
                                    },
                                ],
                                level: 2,
                            },
                            {
                                id: "src/types.d.ts",
                                uniqueId: "0399acee-cad4-488a-ae10-ee9debc5d1d6",
                                import: "./types",
                                extension: ".d.ts",
                                description: "",
                                fullPath: "C:\\Source\\ts-insp\\src\\types.d.ts",
                                type: "Source file",
                                moduleName: "types",
                                resolved: true,
                                absolutePath: "src/types.d.ts",
                                imports: [],
                                level: 2,
                            },
                        ],
                        level: 1,
                    },
                ],
            },
        ];
    </script>
    <script>
        const defaultColor = "#c0c0c0";
        const nodeColors = {
            "Source file": "whitesmoke",
            "Node module": "#90caf9",
            Unknown: "#c0c0c0",
        };

        const pastelColors = [
            "#FF6F61", // Pastel Red
            "#6B5B95", // Pastel Purple
            "#88B04B", // Pastel Green
            "#F7CAC9", // Pastel Pink
            "#92A8D1", // Pastel Blue
            "#FFD700", // Gold
            "#FFA07A", // Light Salmon
            "#77DD77", // Pastel Green (a bit darker)
            "#FFB347", // Pastel Orange
            "#6495ED", // Cornflower Blue
            "#FFDAB9", // Peachpuff
            "#8A2BE2", // Blue Violet
            "#FF6347", // Tomato
            "#87CEEB", // Sky Blue
            "#F49AC2", // Pastel Pink (lighter)
            "#AFEEEE", // Pale Turquoise
            "#FFD700", // Gold (lighter)
            "#FFA07A", // Light Salmon (lighter)
            "#4682B4", // Steel Blue
            "#DA70D6", // Orchid
        ];

        const nodeMap = {};
        let edges = [];
        const getNodes = (nodeImports) => {
            return nodeImports.forEach((i) => {
                nodeMap[i.id] = {
                    ...i,
                    label: i.moduleName + "\n" + (i.absolutePath || ""),
                    shape: "box",
                    color: {
                        background: nodeColors[i.type] || defaultColor,
                        border: "black",
                        group: (i.absolutePath || "/").split("/").slice(0, -1).join("/"),
                    },
                };
                getNodes(i.imports);
            });
        };
        let edgeIndex = 0;
        const getEdges = (nodeImports) => {
            return nodeImports.forEach((i) => {
                edges = [
                    ...edges,
                    ...i.imports.map((c) => ({
                        from: i.id,
                        to: c.id,
                        color: { color: pastelColors[edgeIndex % pastelColors.length] },
                        dashes: i.level > 3,
                        width: i.level === 0 ? 3 : i.level >= 1 || i.level <= 2 ? 2 : i.level > 2 ? 1 : 1,
                    })),
                ];
                edgeIndex++;
                getEdges(i.imports);
            });
        };
        getNodes(imports);
        getEdges(imports);
        const nodes = Object.keys(nodeMap).map((id) => nodeMap[id]);
        console.log(nodes);
        console.log(edges);
    </script>
    <body>
        <div id="diagram"></div>
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

        <script type="text/javascript">
            // create a network
            var container = document.getElementById("diagram");
            var data = {
                nodes: nodes,
                edges: edges,
            };
            var options = {
                layout: {
                    hierarchical: {
                        sortMethod: "hubsize", //"directed",
                        shakeTowards: "leaves", //"roots",
                        direction: "LR",
                    },
                },
                physics: {
                    hierarchicalRepulsion: {
                        avoidOverlap: 2,
                    },
                },
                edges: {
                    arrows: { to: true },
                    smooth: {
                        type: "continuous",
                        forceDirection: "none",
                        roundness: 1,
                    },
                },
            };
            var network = new vis.Network(container, data, options);
        </script>
    </body>
</html>
